body {
  margin: 0;
  font-family: $fontPrimary

}


.app {
  text-align: center;

  .app__header__name {
    margin-top: 100px;
    margin-bottom: 50px;
    @media (min-width: $desktop) {
      font-size: 60px;
    }
  }
}

.wrapper {
  padding: 0px 20px 0px 20px;
  max-width: 350px;
  min-height: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-width: $tablet) {
    max-width: 580px;
  }
  @media (min-width: $desktop) {
    max-width: 700px;
  }
  @media (min-width: $desktop-sup) {
    max-width: 1250px;
  }

  
  .filters__list {
    margin-bottom: 15px;
    height: 25px;
    color: $filtersColor;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    border-bottom: solid 1px $bordersColor;

    @media (min-width: $desktop) {
      font-size: 23px;
      height: 50px;
    }

    .btn {
      background-color: white;
      border: white;
    }
    .underlined {
      border-bottom: solid 4px $btnColor;
    }
    .radioButton {
      display: none;
    }
  }
}

.inputBox__form {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 10px 0px;

  @media (min-width: $desktop) {
    padding: 30px 0px 30px 0px;
  }

  .inputBox__form__box {
    border: 1px solid $bordersColor;
    padding-left: 10px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 12px;
    @media (min-width: $desktop) {
      max-width: 300px;
      font-size: 20px;
    }
  }

  .inputBox__form__btn {
    background-color: $btnColor;
    min-width: 25%;
    height: 38px;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    color: $colorLight;
    @media (min-width: $desktop) {
      min-width: 100px;
      max-width: 150px;
      font-size: 23px;
    }
  }
}

.taskList {
  font-size: 16px;
  font-weight: 500;
  text-align: left;

  @media (min-width: $desktop) {
    font-size: 23px;
  }

  .taskList__li {
    padding: 15px;
    display: grid;
    grid-template-columns: 5% 80% 15%;
    
    .checkbox {
      height: 100%;
      width: 100%;
    }

  }
}

.task__fa {
  color: $bordersColor;
  // position: absolute;
  // right: 35px;
  padding: 0px;
  // @media (min-width: $tablet) {
  //   right: 150px;
  // }
  // @media (min-width: $desktop) {
  //   position: absolute;
  //   left: 65%;
  // }
}

.box__delete__btn {
  margin-top: 50px;
  display: inline-block;

  .delete__btn {
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    background-color: $deleteColor;
    color: $colorLight;
    border-radius: 4px;
    position: absolute;
    right: 75px;
    font-size: 12px;
    @media (min-width: $tablet) {
      right: 220px;
    }
    @media (min-width: $desktop) {
      right: 400px;
      font-size: 16px;
      width: 150px;
    }
    @media (min-width: $desktop-sup) {
      right: 1000px;
    }
  }

  .delete__task {
    padding: 0px 0px 0px 5px;
  }
}
