/* COLORS */
$colorDark: #000;
$colorLight: #fff;
$filtersColor: #333333;
$bordersColor: #bdbdbd;
$btnColor: #2f80ed;
$deleteColor: #eb5757;

/* FONTS */
// @font-face {
//   font-family: myFont;
//   src: url(../fonts/get_schwifty.ttf);
// }
$fontPrimary: "Ubuntu", sans-serif;
$defaultFontSize: 16px;

/* BREAKPOINTS */
$tablet: 610px;
$desktop: 1024px;
$desktop-sup: 1300px;
